nav {
    padding: 20px 0px;
    background-color: #262d3e;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.sidebarHead {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    /* background-color: whitesmoke; */
    width: max-content;
    letter-spacing: 1px;
    gap: 10px;
    padding: 10px 30px;
}

.sidebarHead img {
    width: 30px;
    background-color: white;
    border-radius: 4px;
}

.sidebarBody ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebarBody h3 {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 10px 30px;
}

.sidebarBody ul li {
    padding: 5px 25px;
    color: rgba(255, 255, 255, 0.673);
    font-size: 1.1rem;
    border-left: 5px solid transparent;
}

.sidebarBody ul li:hover {
    cursor: pointer;
    color: white;
    border-color: rgb(0, 140, 255);
    border-radius: 5px;
}

.sidebarFooter button {
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    color: rgba(255, 255, 255, 0.734);
    letter-spacing: 1px;
    padding: 10px 30px;
}

.sidebarFooter button:hover {
    background-color: rgba(0, 0, 0, 0.163);
    color: white;
    cursor: pointer;
}